[submodule "Code/PocketMage_V3/lib/third_party/U8g2_for_Adafruit_GFX"]
	path = Code/PocketMage_V3/lib/third_party/U8g2_for_Adafruit_GFX
	url = https://github.com/NellowTCS/U8g2_for_Adafruit_GFX.git
[submodule "Code/PocketMage_V3/lib/third_party/Mesh-NOW"]
	path = Code/PocketMage_V3/lib/third_party/Mesh-NOW
	url = https://github.com/NellowTCS/Mesh-NOW.git
[submodule "Code/HonzoReader/third_party/honzo"]
	path = Code/HonzoReader/third_party/honzo
	url = https://github.com/Nisoku/Honzo.git
[submodule "Code/HonzoReader/lib/third_party/html_parser"]
	path = Code/HonzoReader/lib/third_party/html_parser
	url = https://github.com/NellowTCS/html_parser.git
[submodule "Code/HonzoReader/lib/third_party/md4c"]
	path = Code/HonzoReader/lib/third_party/md4c
	url = https://github.com/NellowTCS/md4c.git
[submodule "Code/PocketMage_V3/lib/third_party/U8g2_for_Adafruit_GFX"]
	path = Code/PocketMage_V3/lib/third_party/U8g2_for_Adafruit_GFX
	url = https://github.com/NellowTCS/U8g2_for_Adafruit_GFX.git
